<div class="container col-md-6">
    <h1>User Settings</h1>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
            <label for="name">User Name</label>
            <input class="form-control" placeholder="Enter Your Name" name="name" [(ngModel)]="userSettings.name"
                required #nameField="ngModel" [class.field.error]="form.submitted && nameField.valid" />
            <div [hidden]="!form.submitted ||  nameField.valid " class="alert alert-danger">
                Name field is required.
            </div>
        </div>
        <div class=" form-group">
            <label for="startDate">Join Date</label>
            <div class="col-xs-12 col-12 col-md-4">
                <input type="text" placeholder="Select Date" class="form-control" bsDatepicker [(ngModel)]="startDate" name="startDate" id="startDate">
            </div>
        </div>
        <div class="form-group">
            <label for="time">Start Time</label>
            <timepicker [(ngModel)]="mytime" name="starTime" id="starTime"></timepicker>
            <pre class="alert alert-info">Time is: {{mytime}}</pre>
        </div>
    
        <button type="button" class="btn btn-primary" [(ngModel)]="singleModel" btnCheckbox btnCheckboxTrue="On"
            btnCheckboxFalse="Off" name="singleModel">
            {{singleModel}}
        </button>

        <div class="form-group">
            User Rating
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly" (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
                [titles]="['one','two','three']" name="userRating" id="userRating"></rating>
        </div>
User Rating : {{userRating}}
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password"
                [(ngModel)]="userSettings.password" />
        </div>
        <div class="form-check form-group">
            <input class="form-check-input" type="checkbox" id="emailOffers" name="emailOffers"
                [(ngModel)]="userSettings.emailOffers" />
            <label class="form-check-label" for="emailOffers">
                Email Special Offers
            </label>
        </div>

        <p>User Interface Style</p>
        <div class="form-group">
            <div class="btn-group">
                <label class="btn btn-primary" btnRadio="Light" uncheckable tabindex="0" role="button" name="interfaceStyle"
                    id="lightInterface" checked value="light" [(ngModel)]="userSettings.interfaceStyle">Light</label>
                <label class="btn btn-primary" btnRadio="Medium" uncheckable tabindex="0" role="button"
                    name="interfaceStyle" id="mediumInterface" value="medium"
                    [(ngModel)]="userSettings.interfaceStyle">Medium</label>
                <label class="btn btn-primary" btnRadio="Dark" uncheckable tabindex="0" role="button" name="interfaceStyle"
                    id="flexRadioDefault2" value="dark" [(ngModel)]="userSettings.interfaceStyle">Dark</label>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Subscription Type</label>
            <select class="form-control form-select" aria-label="Default select example" name="subscriptionType"
                id="subscriptionType" [(ngModel)]="userSettings.subscriptionType">
                <option selected>Open this select menu</option>
                <option *ngFor="let type of subscriptionType | async">
                    {{type}}
                </option>
                <!-- <option>Annualy</option>
                <option>Lifetime</option> -->
            </select>
        </div>

        <div class="form-group">
            <div class="form-floating">
                <label for="floatingTextarea2">Notes</label>
                <textarea class="form-control" placeholder="Leave a note here" id="notes" name="notes"
                    style="height: 100px" [(ngModel)]="userSettings.notes"></textarea>
            </div>
        </div>

        <div class="alert alert-danger" [hidden]="!postError">
            {{postErrorMessage}}
        </div>
        <button class="btn btn-primary mt-1">Submit</button>
    </form>
    
</div>
 
<div class="container">
    <ul>
        <li>{{userSettings | json}}</li>
        
    </ul>
        <h6 style="color:darkturquoise">{{startDate | json}}</h6>
        <pre class="alert alert-info">Time is: {{mytime}}</pre>
    <!-- {{originalUserSettings| json}} -->
    
   

</div>